---
layout: projects-layout
---

<!doctype html>
<html>
  <head>    
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chicago Doughnuts</title>
    <link href="./stylesheets/main.css" media="screen" rel="stylesheet" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Josefin+Slab:400,600,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>
  </head>

  <body> 
    <header>
      <div class="header-box">
        <h2 class="top-picks">top picks</h2>
        <h2 class="for-my-fav">for my favorite</h2>
        <hr class="header-line">
        <h1 class="chicago">chicago</h1>
        <h1 class="donuts">donuts</h1>
      </div>
    </header>
    <section class="light-pink">
      <div class="wrapper cf">
        <div class="column third">
          <a href="#doughnutvault">
            <div class="box">
              <img class="doughnut" src="/images/doughnut1-4.png">
              <h3>Doughnut Vault</h3>
            </div>
          </a>
        </div>
        <div class="column third">
          <a href="#glazedinfused">
            <div class="box">
              <img class="doughnut" src="/images/doughnut1-1.png">
              <h3>Glazed &amp; Infused</h3>
            </div>
          </a>
        </div>
        <div class="column third">
          <a href="#firecakes">
            <div class="box">
              <img class="doughnut" src="/images/doughnut1-2.png">
              <h3>Firecakes</h3>
            </div>
          </a>
        </div>
      </div>
    </section>

    <section id="doughnutvault">
      <section class="white">
        <div class="wrapper">
          <div class="description-box">
            <img class="donut-header" src="/images/doughnut1-4.png">
            <h4>Doughnut Vault</h4>
            <p class="margin-bottom-none"> Here at the Doughnut Vault, you know the doughnuts aren't machine made. The bakers here create homemade doughnuts using only the highest of ingredients every morning. Making for consistently fresh and tasty doughnuts!</p>
          </div>
          <div class="center">
            <a href="https://www.google.com/maps/place/401+N+Franklin+St/@41.889351,-87.6353694,17z/data=!3m1!4b1!4m2!3m1!1s0x880e2cb68da1629d:0x1231dea37c2197cf">
              <div class="banner margin-top">401 1/2 N. Franklin Street, Chicago IL 60654
              </div>
              <div class="banner-block">401 1/2 N. Franklin Street, Chicago IL 60654</div>
            </a>
          </div>
        </div>
      </section>

      <section class="white border-bottom-none">
        <div class="wrapper cf">
          <h4>Menu</h4>
          <ul>
            <li>Brownie Softie</li>
            <li>Honey Buns</li>
            <li>Mocha Old Fashioned</li>
            <li>Chocolate Birthday Cake</li>
            <li>White Chocolate Softie</li>
            <li>Pistachio Glazed</li>
            <li>Orange Cream Old Fashioned</li>
          </ul>
        </div>
      </section>

      <section class="light-pink">
        <div class="heart-graph-wrapper cf">
          <h4>Review</h4>
          <div class="row">
            <div class="column third">
              <p class="bold">70%</p>
              <img class="heart-graph" src="/images/heart-70.png">
              <p class="bold">service</p>
            </div>
            <div class="column third">
              <p class="bold">100%</p>
              <img class="heart-graph" src="/images/heart-100.png">
              <p class="bold">taste</p>
            </div>
            <div class="column third">
              <p class="bold">90%</p>
              <img class="heart-graph" src="/images/heart-90.png">
              <p class="bold">price</p>
            </div>
          </div>
        </div>
      </section>

      <section class="white">
        <div class="wrapper">
          <h4>Shop Hours</h4>
          <div class="center">
            <div class="banner">(312) 464-9544
            </div>
            <div class="banner-block">(312) 464-9544
            </div>
          </div>
          <table>
            <tbody>
              <tr>
                <td class="text-left">Monday</td>
                <td>8:00 am – 2:00 pm</td>
              </tr>
              <tr>
                <td class="text-left">Tuesday</td>
                <td>8:00 am – 2:00 pm</td>
              </tr>
              <tr>
                <td class="text-left">Wednesday</td>
                <td>8:00 am – 2:00 pm</td>
              </tr>
              <tr>
                <td class="text-left">Thursday</td>
                <td>8:00 am – 2:00 pm</td>
              </tr>
              <tr>
                <td class="text-left">Friday</td>
                <td>8:00 am – 2:00 pm</td>
              </tr>
              <tr>
                <td class="text-left">Saturday</td>
                <td>9:30 am – 2:00 pm</td>
              </tr>
              <tr>
                <td class="text-left">Sunday</td>
                <td>9:30 am – 2:00 pm</td>
              </tr>
            </tbody>
          </table>
      </section>
    </section>

    <section id="glazedinfused">
      <section class="white">
        <div class="wrapper">
          <div class="description-box">
            <img class="donut-header" src="/images/doughnut1-1.png">
            <h4>Glazed &amp; Infused</h4>
            <p class="margin-bottom-none">Chef Scott Harris  has established himself as one of Chicago’s most iconic restaurateurs. With the launch of Glazed and Infused, he brings his talents and passion to the world of doughnuts.</p>
          </div>
          <div class="center">
            <a href="https://www.google.com/maps/place/1576+N+Milwaukee+Ave/@41.9099186,-87.6773348,17z/data=!3m1!4b1!4m2!3m1!1s0x880fd2c75d6ff83d:0x71d1f4c5f3cd3fef"><div class="banner margin-top">1576 N Milwaukee Ave, Chicago IL 60622
            </div>
            <div class="banner-block">1576 N Milwaukee Ave, Chicago IL 60622
            </div>
            </a>
          </div>
        </div>
      </section>

      <section class="white border-bottom-none">
        <div class="wrapper">
          <h4>Menu</h4>  
          <ul>
            <li>Todays Special Flavor</li>
            <li>Fruit Fritter frit</li>
            <li>Old Fashioned</li>
            <li>Crunchy PB &amp; J</li>
            <li>Crème Brûlée</li>
            <li>Maple Bacon Long John bacon</li>
            <li>Vanilla Bean Glazed vanilla</li>
            <li>Lemon Coconut</li>
            <li>Raspberry Glazed</li>
            <li>Red Velvet</li>
            <li>Cocoa buttermilk cake</li>
            <li>Chocolate4</li>
            <li>Blueberry Lemon</li>
            <li>Passion Fruit White Chocolate</li>
            <li>Coffee Glazed Buttermilk</li>
          </ul>
        </div>
      </section>

      <section class="light-pink">
        <div class="heart-graph-wrapper cf">
          <h4>Review</h4>
          <div class="row">
            <div class="column third">
              <p class="bold">100%</p>
              <img class="heart-graph" src="/images/heart-100.png">
              <p class="bold">service</p>
            </div>
            <div class="column third">
              <p class="bold">90%</p>
              <img class="heart-graph" src="/images/heart-90.png">
              <p class="bold">taste</p>
            </div>
            <div class="column third">
              <p class="bold">80%</p>
              <img class="heart-graph" src="/images/heart-80.png">
              <p class="bold">price</p>
            </div>
          </div>
        </div>
      </section>

      <section class="white">
        <div class="wrapper">
          <h4>Shop Hours</h4>
          <div class="center">
            <div class="banner">(312) 226-5556
            </div>
            <div class="banner-block">312) 226-5556
            </div>
          </div>

          <table>
            <tbody>
              <tr>
                <td class="text-left">Monday</td>
                <td>7:00 am – 2:00 pm</td>
              </tr>
              <tr>
                <td class="text-left">Tuesday</td>
                <td>7:00 am – 2:00 pm</td>
              </tr>
              <tr>
                <td class="text-left">Wednesday</td>
                <td>7:00 am – 2:00 pm</td>
              </tr>
              <tr>
                <td class="text-left">Thursday</td>
                <td>7:00 am – 2:00 pm</td>
              </tr>
              <tr>
                <td class="text-left">Friday</td>
                <td>7:00 am – 2:00 pm</td>
              </tr>
              <tr>
                <td></td>
                <td>9:00 pm – 2:00 am</td>
              </tr>
              <tr>
                <td class="text-left">Saturday</td>
                <td>7:00 am – 3:00 pm</td>
              </tr>
               <tr>
                <td></td>
                <td>9:00 pm – 2:00 am</td>
              </tr>
              <tr>
                <td class="text-left">Sunday</td>
                <td>7:00 am – 3:00 pm</td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
    </section>

    <section id="firecakes">
      <section class="white">
        <div class="wrapper">
          <div class="description-box">
            <img class="donut-header" src="/images/doughnut1-2.png">
            <h4>Firecakes</h4>
            <p class="margin-bottom-none">Firecakes Donuts was launched by longtime industry vet Jonathan Fox  and co-owner Tony Bardwell. And how's this for a cool historical backstory: Fox's recipe is built on  "an heirloom recipe that his wife’s great-grandfather, Billy Hobbs, created in the early 1900s as a baker at a logging camp in northern Wisconsin.</p>
          </div>
          <div class="center">
            <a href="https://www.google.com/maps/place/FIRECAKES+DONUTS/@41.890122,-87.630842,17z/data=!3m1!4b1!4m2!3m1!1s0x0:0x67d5576b0e5633fb"><div class="banner margin-top">68 W Hubbard St Chicago, IL 60654
            </div>
             <div class="banner-block">68 W Hubbard St Chicago, IL 60654
            </div>
            </a>
          </div>
        </div>
      </section>

      <section class="white border-bottom-none">
        <div class="wrapper cf">
          <h4>Menu</h4>  
            <ul>
              <li>Honey Glazed</li>
              <li>Apple Fritter</li>
              <li>Maple Glazed Pineapple &amp; Bacon</li>
              <li>Butterscotch Praline</li>
              <li>Coconut Cream</li>
              <li>Malted Milk Ball</li>
              <li>Chocolate Hazelnut Long John</li>
              <li>Valrhona Chocolate Iced</li>
              <li>Valrhona Chocolate &amp; Espresso Cream</li>
              <li>Triple Valrhona Chocolate Cake</li>
              <li>Gluten Free Valrhona Chocolate</li>
              <li>Ice Cream Donut Sandwich</li>
              <li>Old Fashioned Buttermilk</li>
              <li>Vanilla Iced</li>
              <li>Classic Jelly</li>
              <li>Peanut Butter Cup</li>
              <li>Meyers Lemon</li>
              <li>Maple Glazed Pineapple &amp; Bacon Donut</li>
            </ul>
        </div>
      </section>

      <section class="light-pink">
        <div class="heart-graph-wrapper cf">
          <h4>Review</h4>
          <div class="row">
            <div class="column third">
              <p class="bold">90%</p>
              <img class="heart-graph" src="/images/heart-90.png">
              <p class="bold">service</p>
            </div>
            <div class="column third">
              <p class="bold">80%</p>
              <img class="heart-graph" src="/images/heart-80.png">
              <p class="bold">taste</p>
            </div>
            <div class="column third">
              <p class="bold">70%</p>
              <img class="heart-graph" src="/images/heart-70.png">
              <p class="bold">price</p>
            </div>
          </div>
        </div>
      </section>

      <section class="white">
        <div class="wrapper">
          <h4>Shop Hours</h4>
          <div class="center">
            <div class="banner">(312) 329-6500
            </div>
            <div class="banner-block">(312) 329-6500
            </div>
          </div>

          <table>
            <tbody>
              <tr>
                <td class="text-left">Monday</td>
                <td>7:00 am – 9:00 pm</td>
              </tr>
              <tr>
                <td class="text-left">Tuesday</td>
                <td>7:00 am – 9:00 pm</td>
              </tr>
              <tr>
                <td class="text-left">Wednesday</td>
                <td>7:00 am – 9:00 pm</td>
              </tr>
              <tr>
                <td class="text-left">Thursday</td>
                <td>7:00 am – 11:00 pm</td>
              </tr>
              <tr>
                <td class="text-left">Friday</td>
                <td>7:00 am – 11:00 pm</td>
              </tr>
              <tr>
                <td class="text-left">Saturday</td>
                <td>8:00 am – 11:00 pm</td>
              </tr>
              <tr>
                <td class="text-left">Sunday</td>
                <td>8:00 am – 5:00 pm</td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
    </section>
  </body>
</html>